@import './lib/highlight.css';
@import './lib/pdf.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'ss02' on, 'ss03' on, 'ss09' on, 'ss06' on, 'ss07' on, 'ss08' on,
    'case' on;
  -webkit-text-stroke: 0;
  font-size: 32px;

  @apply bg-neutral-800 m-0 h-full;
}

@layer base {
  body {
    @apply text-neutral-300;
  }
}

#root,
body {
  @apply w-full h-full overflow-hidden bg-[#333];
}
