{
  "ignorePatterns": ["**/*.js", "**/**/*.js"],
  "rules": {
    "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "eqeqeq": "error",
    "no-param-reassign": "error",
    "no-return-assign": "error"
  }
}
