@import './lib/fonts.css';
@import './lib/highlight.css';
@import '@oxide/design-system/styles/dist/main.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'ss02' on, 'ss03' on, 'ss09' on, 'ss06' on, 'ss07' on, 'ss08' on,
    'case' on;
  -webkit-text-stroke: 0;
  font-size: 16px;

  @apply bg-tertiary;
}

@layer base {
  body {
    @apply text-sans-lg text-default;
  }
}

#root,
body,
html {
  @apply w-full h-full overflow-hidden space-y-[60px] bg-[#333];
}

.page {
  @apply w-full h-full overflow-hidden space-y-[60px] bg-default;
}

.page-padding {
  @apply p-[80px];
}

.large-title {
  @apply text-[100px] leading-[1.1] font-[300] mb-[100px];
}

.body-md {
  @apply font-[300] text-[54px] leading-[1.3] text-secondary;
}

.body-md p {
  @apply pr-[120px];
}

.markdown > div {
  @apply flex flex-col space-y-[20px];
}

.markdown > div > *:last-child {
  @apply !mb-0;
}

.list-item {
  @apply border-b border-b-default font-[300] text-[46px] leading-[1.3] text-secondary py-[30px] pr-[120px];
}

em {
  @apply text-accent not-italic;
}

ul .list-item:last-of-type {
  @apply border-b-0 pb-0;
}

ul .list-item:first-of-type {
  @apply pt-0;
}

pre {
  @apply border border-default rounded-lg p-[20px] !text-[24px] text-mono-code !leading-[1.3] !mt-[40px] !mb-[20px];
}
